.video-list-item {
  position: relative;
}

.video-list-item-image {
  border-radius: 4px;
}

.duration {
  position: absolute;
  top: 190px;
  right: 8px;
  padding: 4px 8px;
  background-color: #000000bb;
  border-radius: 4px;
}
