---

---

<a href="/" class="logo">
  <img src="/banana.png" alt="logo" height="44px" width="44px" />
</a>
<style>
  .logo {
    grid-area: logo;
    justify-self: center;
    height: 44px;
    width: 44px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition:
      border-color 0.15s ease-in-out,
      background-color 0.15s ease-in-out;
  }

  .logo:hover {
    border-color: white;
    background-color: #555555bb;
  }
</style>
