@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 60px;
  height: 60px;
  margin: 60px auto;
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid var(--black-0);
  animation: spin 2s linear infinite;
}
